.button {
  padding: 0 20px;
  border: none;
  outline: none;
  height: 36px;
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.6rem;
  user-select: none;
  border-radius: 4px;
  font-family: "ProximaNova", sans-serif;
  background: var(--white);
  + .button {
    margin-left: 10px;
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.primary {
  background-color: var(--primary);
  color: var(--white);
  &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
  }
}

.outline {
  border: 1px solid var(--primary);
  background-color: var(--white);
  color: var(--primary);
  &:hover {
        background-color: rgba(254, 44, 85, 0.06);
  }
}

.text {
  border: 1px solid var(--border);
  background-color: var(--white);
  color: var(--black);
  &:hover {
        background-color: rgba(22, 24, 35, 0.03);
  }
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}

.icon {
  width: 20px ;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.title {
  flex: 1;
}

.small {
  min-width: 88px;
  padding: 4px 16px;
}

.large {
  padding: 14px 16px;
  min-width: 140px;
}

.separate {
  border-top: 1px solid rgba(22, 24, 35, 0.12);
}
