.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px 0px 0px;
}

.wrap-account {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 22px 32px 15px;
  position: relative;
  justify-content: space-between;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}

.wrap-info {
  display: flex;
  align-items: center;
}

.info-account {
  &__name {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 25px;
  }
  p {
    font-size: 1.4rem;
    line-height: 20px;
  }
}

.wrap-body {
  padding: 0px 32px;
}

.wrap-captions {
  display: flex;
}

.topic {
  font-weight: 600;
  margin-left: 4px;
  &:hover a {
    text-decoration: underline;
  }
}

.wrap-action {
  position: relative;
  padding: 16px 0px;
}

.action {
  display: flex;
}

.wrap-icon {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 0px;
  border-radius: 50%;
  transition: all 200ms ease-in-out 0s;
  background-color: rgba(22, 24, 35, 0.06);
  padding: 6px;
  margin-right: 6px;
  cursor: pointer;
}

.icon-item {
  display: flex;
  align-items: center;
  .count {
    color: rgba(22, 24, 35, 0.75);
    font-size: 1.2rem;
    line-height: 17px;
    text-align: center;
  }
  & + .icon-item {
    margin-left: 20px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.copy-link {
  color: rgba(22, 24, 35, 0.75);
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  box-sizing: border-box;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;
  .link {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 1 auto;
    padding: 7px 0px 5px 12px;
    background-color: rgba(22, 24, 35, 0.06);
  }
  .button-copy {
    border: none;
    background: none rgba(22, 24, 35, 0.06);
    outline: none;
    color: rgb(22, 24, 35);
    font-weight: 700;
    flex: 0 0 auto;
    cursor: pointer;
    padding: 7px 18px;
    &:hover {
      background-color: rgba(22, 24, 35, 0.03);
    }
  }
}

.wrap-comment {
  width: 100%;
  padding: 24px 32px;
  box-sizing: border-box;
  background-color: rgb(248, 248, 248);
  border-top: 1px solid rgba(22, 24, 35, 0.2);
  border-bottom: 1px solid rgba(22, 24, 35, 0.2);
  overflow: hidden auto;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.wrap-form-comment {
  flex: 0 0 auto;
  background-color: rgb(255, 255, 255);
  margin: 0px 30px;
  padding: 21px 0px;
}
